.title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}

/* body {
  background-image: url("https://www.thoughtco.com/thmb/IxJUppm1UaJGoTMLjC54-clZpc8=/4961x2791/smart/filters:no_upscale()/world-in-geographic-projection-true-colour-satellite-image-99151124-58b9cc3e5f9b58af5ca7578d.jpg");
} */