body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text {
  color: white;
}

.button {
  background-color: rgb(92, 143, 139);
  color: white;
  height: 40px;
  width: 100px;
  border: 1px solid rgb(160, 158, 158);
  text-transform: uppercase;
}

.button-nb {
  background-color: white;
  color: rgb(92, 143, 139);
  height: 40px;
  width: 100px;
  border: 1px solid rgb(92, 143, 139);
  text-transform: uppercase;
}

.button-new {
  background-color: rgb(92, 143, 139);
  color: white;
  height: 40px;
  width: 180px;
  border: 1px solid rgb(160, 158, 158);
  text-transform: uppercase; 
}

.title {
  color: blue;
  margin-bottom: 300px;

}

.img-navbar {
  width: 60px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo-navbar {
  width: 350px;
}

.title-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home {
  background-color: rgb(92, 143, 139);
}

.auth-button {
  background-color: rgb(91, 146, 142);
}